<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset name="notifications" label="COM_XDECAROPEOPLE_CONFIG_NOTIFICATIONS">
    <field
      name="notification_recipient_user_id"
      type="user"
      label="COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_RECIPIENT"
      description="COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_RECIPIENT_DESC"
      default="0"
    />
    <field
      name="notification_event_types"
      type="checkboxes"
      label="COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_TYPES"
      description="COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_TYPES_DESC"
      default="created,possible_duplicate"
      filter="array"
    >
      <option value="created">COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_TYPE_CREATED</option>
      <option value="updated">COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_TYPE_UPDATED</option>
      <option value="state">COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_TYPE_STATE</option>
      <option value="possible_duplicate">COM_XDECAROPEOPLE_CONFIG_NOTIFICATION_TYPE_DUPLICATE</option>
    </field>
  </fieldset>
  <fieldset name="maintenance" label="COM_XDECAROPEOPLE_CONFIG_MAINTENANCE">
    <field
      name="backup_storage_path"
      type="text"
      label="COM_XDECAROPEOPLE_CONFIG_BACKUP_STORAGE_PATH"
      description="COM_XDECAROPEOPLE_CONFIG_BACKUP_STORAGE_PATH_DESC"
      filter="string"
      default=""
    />
    <field
      name="backup_max_upload_mb"
      type="number"
      label="COM_XDECAROPEOPLE_CONFIG_BACKUP_MAX_UPLOAD_MB"
      description="COM_XDECAROPEOPLE_CONFIG_BACKUP_MAX_UPLOAD_MB_DESC"
      min="1"
      max="2048"
      step="1"
      default="64"
      filter="integer"
    />
  </fieldset>
  <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
    <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" validate="rules" component="com_xdecaropeople" section="component"/>
  </fieldset>
</config>
